@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@font-face{
    font-family: "Roxborough";
    src: url("../fonts/Roxborough/Webfont/RoxboroughCF-DemiBold.woff2") format("woff2");
}
/* --- VARIABLES --- */
/*-Colores */
:root{
--negro: #1D1D1D;
--blanco:  #EAEAEA;
--beige-claro: #C8AF7B;
--beige-oscuro: #A08053;
--boton-imagen-size: 90%;
}
/* --- ALINEACION DE TEXTO --- */
.left{
    text-align: left;
}
.center{
    text-align: center;
}
/* --- COLORES/FONTS DE TEXTO --- */
.parrafo-font{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}
.titulo-font{
    font-family: "Roxborough", sans-serif;
    
}
.gradiente{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
	background-image: linear-gradient(-45deg, #b3915d, #edcc86, #b3915d);
}
.beige-claro{
    color: var(--beige-claro);
}
.beige-oscuro{
    color: var(--beige-oscuro);
}
.blanco{
    color: var(--blanco);
}
.negro{
    color: var(--negro);
}
.mon-light{
    font-family: "Montserrat";
    font-weight: 300;
}
.mon-regular{
    font-family: "Montserrat";
    font-weight: 400;
}
.mon-medium{
    font-family: "Montserrat";
    font-weight: 500;
}
.mon-sb{
    font-family: "Montserrat";
    font-weight: 600;
}
/* --- TAMAÑOS DE TEXTO --- */
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.5rem;
}

/* --- BOTONES, LISTAS y OTROS ELEMENTOS */
.boton-principal{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-image: linear-gradient(-45deg, #b3915d, #edcc86, #b3915d);
    display: block;
    margin: auto;
    width: var(--boton-imagen-size);
    padding: 1rem 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}
button+picture{
    width: var(--boton-imagen-size);
}
hr{
    width: 25vw;
}
/* --- CUERPO --- */
body{
    background-color: var(--negro);
    margin: 0;
    margin-top: 4rem;
}
header, main, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}
header, main div{
    padding: 0 10vw;
}
/* --- Cuatro Puntos --- */
#cuatro-puntos{
    padding-bottom: 4rem;
}
/* --- Bullet Points --- */
#bullet-points-div{
    padding-top: 3rem;
    background-color: var(--blanco);
    padding-bottom: 4rem;
}
#bullet-points-div ul{
    border: var(--beige-oscuro) solid 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    margin-bottom: 2rem;
}
#bullet-points-div ul li{
    font-weight: 500;
    padding: 0.5rem 0;
}
/* --- Cuarto Parrafo --- */
#cuarto-parrafo{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* --- Quinto Parrafo --- */
#quinto-parrafo{
    padding-bottom: 2rem;
}
#quinto-parrafo p{
    border: var(--beige-claro) solid 1px;
    padding: 1rem;
}
/* --- Libro --- */
#libro-div{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#libro-antes{
    position: relative;
}
#libro-antes p{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
#precio-libro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 4rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 4rem;
}
#precio-libro p:nth-child(1){
    grid-column: 1/3;
    padding: 0;
    margin: 0;
    text-align: center;
}
#precio-libro p:nth-child(2), #precio-libro p:nth-child(3){
    grid-column: 1/2;
    padding: 0;
    margin: 0;
    text-align: left;
}
#precio-libro p:nth-child(3){
    font-size: 3rem;
    text-align: left;
}
#precio-libro p:nth-child(4){
    grid-column: 2/3;
    grid-row: 2/4;
    align-self: center;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 5rem;
}
#boton-libro{
    margin: 0;
    width: var(--boton-imagen-size);
    margin-bottom: 1rem;
    cursor: pointer;
}
/*Logo*/
header .logo{
    width: 40vw;
    margin: auto;
}
img{
    width: 100%;
}



/* TESTING */

